%h1 Repositories

= link_to "Add Repository", new_repository_path

%table.repositories
  %thead
    %tr
      %th
        Repository
      %th
        Source

  - @repositories.each do |repository|
    %tr
      %td
        = repository.name
      %td
        = repository.path
      %td
        = link_to "View", repository_path(repository)