%h1 Repositories

= link_to new_repository_path, :id => "new_repository_link" do
  .btn.btn-primary.new-repository
    Add Repository

%table.repositories.table
  %thead
    %tr
      %th
        Repository
      %th
        Source

  - @repositories.each do |repository|
    %tr
      %td
        = repository.name
      %td
        = repository.path
      %td
        = link_to "View", repository_path(repository)