%h1
  = @repository.name

- if @repository.has_local_clone
  = render :partial => "list_commits"
- else
  - if @repository.is_cloning

    Cloning Repository...

  - else

    Unable to clone repository, please try the following:
    %ul
      %li
        Check that the Path is correct
      - if @repository.private?
        %li
          Please try the adding the following public key to your repository ssh keys

    - if @repository.private?
      = text_area_tag "ssh-public-tag", @repository.public_key

    = link_to_function "Try Cloning Again", repository_path(@repository)
