%tr.show-comment-row{:data => {:id => comment.id}}
  %td.add_comment
  %td.line-number-after.line-number
  %td.line-number-before.line-number
  %td.line
    .commit-comment
      %fieldset.content
        = comment.content

      .controls
        .btn.btn-warning
          Edit

        = link_to comment, :method => :delete, :remote => true, :id => "delete_commit_comment" do
          .btn.btn-danger
            Delete

        = link_to "#", :remote => true, :id => "close_commit_comment" do
          .hide.btn.btn-info
            Close
