%tr.show-comment-row
  %td
  %td
  %td
  %td
    %fieldset.commit-comment
      .content
        = comment.content

      .controls
        .close
          Close

        .edit
          Edit

        .del
          Delete