%tr.show-comment-row{:data => {:id => comment.id}}
  %td.add_comment
  %td.line-number-after.line-number
  %td.line-number-before.line-number
  %td.line
    .commit-comment
      .content.well
        = comment.content

      .controls
        .action
          .btn.btn-warning
            Edit

        .action
          = link_to comment, :method => :delete, :remote => true, :id => "delete_commit_comment" do
            .btn.btn-danger
              Delete

        .close-comment
          = link_to "#", :remote => true, :id => "close_commit_comment" do
            .btn.btn-info
              Close

  %td.comments