%tr.show-comment-row{:data => {:id => comment.id}}
  %td
  %td
  %td
  %td
    .commit-comment
      %fieldset.content
        = comment.content

      .controls
        .btn.btn-warning
          Edit

        .btn.btn-danger
          Delete

        .hide.btn.btn-info
          = link_to "Close", "#", :id => "close_commit_comment"
