%tr.show-comment-row{:data => {:id => comment.id}}
  %td
  %td
  %td
  %td
    .commit-comment
      %fieldset.content
        = comment.content

      .controls
        .hide.btn.btn-info
          Close

        .btn.btn-warning
          Edit

        .btn.btn-danger
          Delete