.diff {
  overflow: auto;
}

.diff table {
  background: #fff;
  overflow: auto;
  font-size: 13px;
  margin: 0;
  padding: 0;
  display: table;
  padding-left: 30px;
  border-spacing: 2px 0px;
}

.diff td {
  position: relative;
  padding: 0;
  margin: 0;
  height: 1em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.diff tr.highlight td.line {
  background: #ecf2ff
}

.diff td.add_comment {
  opacity: 0;
  width: 10px;
  margin-left: -10px;
}

.diff td.add_comment a {
  text-decoration: none;
}

.diff td.ins {
  background: #dfd;
  color: #080
}

.diff td.del {
  background: #fee;
  color: #b00
}

.diff td.line-number-before, .diff td.line-number-after {
  vertical-align: top;
  width: 5px;
}

.diff tr:hover td.line {
  background: #ffc
}

/* try 'whitespace:pre;' if you don't want lines to wrap */
.diff pre {
  font-family: courier;
  position: relative;
  z-index: 5;
  margin: 0px;
  white-space: pre-wrap;
  border: none;
  background: none;
  word-break: break-all;
  padding: 0px;
}

.diff del strong {
  font-weight: normal;
  background: #fcc;
}

.diff .controls a{
  color:inherit;
}

.diff .controls a:hover{
  text-decoration: none;
}

.diff .controls .hide {
  float: right;
}

.diff .controls .btn{
  margin: 4px;
}

.diff ins strong {
  font-weight: normal;
  background: #9f9;
}

.diff td.diff-comment {
  display: none;
}

.diff td.diff-block-info {
  background: none repeat scroll 0 0 gray;
}

.diff td.comments {
  width: 100px;
}

.diff td.comments a {
  width: 100px;
}

.diff tr.comment_start td, .diff tr.comment_end td {
  height: 3px;
}

.diff tr.faded td.line {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity = 50);
  opacity: .5;
}

.commit-comment .content textarea{
  width: 98%;
  max-width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  height: 100px;
}

.commit-comment .controls div{
  display: inline;
}