.added{
  color: green;
  display: inline-table;
}

.deleted{
  color: red;
  display: inline-table;
}

#ssh-public-tag{
  width: 320px;
  height: 120px;
}

.btn.new-repository{
  float: right;
}

tr.commit:hover{
  cursor: pointer;
}

tr.commit:hover td.name{
  text-decoration: underline;
}